<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4" style="max-width: 700px;">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <h2 class="text-center mb-4">Create a New Post</h2>
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            required
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" id="body" name="body" rows="10" required></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary w-100" type="submit">Publish Post</button>
        </div>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
  </body>
</html>